<ion-app>
  <ion-menu side="start">
    <ion-header [routerLink]="'/dashboard'">
      <ion-toolbar translucent>
        <ion-title>Covid Safeguard</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>Contact tracing</ion-label>
        </ion-item>
        <ion-item [routerLink]="'/places'">
          <ion-icon name="locate-outline" slot="start"></ion-icon>
          <ion-label>Places Nearby</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>Emoticon</ion-label>
        </ion-item>
        <ion-item [routerLink]="'/profile'">
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label>My Profile</ion-label>
        </ion-item>          
        <ion-item [routerLink]="'/home'">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>View nearby people</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>